# 02 - Data from the Web

## Deadline
Wednesday October 25, 2017 at 11:59PM

## Important Notes
* Make sure you push on GitHub your Notebook with all the cells already evaluated (i.e., you don't want your colleagues to generate unnecessary Web traffic during the peer review)
* Don't forget to add a textual description of your thought process, the assumptions you made, and the solution you plan to implement!
* Please write all your comments in English, and use meaningful variable names in your code.

## Background
In this homework we will extract interesting information from www.topuniversities.com and www.timeshighereducation.com, two platforms that maintain a global ranking of worldwide universities. This ranking is not offered as a downloadable dataset, so you will have to find a way to scrape the information we need!
You are not allowed to download manually the entire ranking -- rather you have to understand how the server loads it in your browser. For this task, Postman with the Interceptor extension can help you greatly. We recommend that you watch this [brief tutorial](https://www.youtube.com/watch?v=jBjXVrS8nXs&list=PLM-7VG-sgbtD8qBnGeQM5nvlpqB_ktaLZ&autoplay=1) to understand quickly how to use it.

## Assignment
1. Obtain the 200 top-ranking universities in www.topuniversities.com ([ranking 2018](https://www.topuniversities.com/university-rankings/world-university-rankings/2018)). In particular, extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total). Some information is not available in the main list and you have to find them in the [details page](https://www.topuniversities.com/universities/ecole-polytechnique-fÃ©dÃ©rale-de-lausanne-epfl).
Store the resulting dataset in a pandas DataFrame and answer the following questions:
    - Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
    - Answer the previous question aggregating the data by (c) country and (d) region.
    
 Plot your data using bar charts and describe briefly what you observed.

2. Obtain the 200 top-ranking universities in www.timeshighereducation.com ([ranking 2018](http://timeshighereducation.com/world-university-rankings/2018/world-ranking)). Repeat the analysis of the previous point and discuss briefly what you observed.

3. Merge the two DataFrames created in questions 1 and 2 using university names. Match universities' names as well as you can, and explain your strategy. Keep track of the original position in both rankings.

4. Find useful insights in the data by performing an exploratory analysis. Can you find a strong correlation between any pair of variables in the dataset you just created? Example: when a university is strong in its international dimension, can you observe a consistency both for students and faculty members?

5. Can you find the best university taking in consideration both rankings? Explain your approach.

Hints:
- Keep your Notebook clean and don't print the verbose output of the requests if this does not add useful information for the reader.
- In case of tie, use the order defined in the webpage.

##  Textual description of your thought process, the assumptions you made, and the solution you plan to implement!

### Thought process:

www.topuniversities.com 
1. get https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508228964836
    a. this is a json file
2. obtain name rank country region
3. get https://www.topuniversities.com/universities/ecole-polytechnique-f%C3%A9d%C3%A9rale-de-lausanne-epfl
    a. this is a html file
4. get number of faculty -- international and total, number of students -- international and total

### analysis
1. Faculty : student ratio
2. international student : total student ratio



### Our assumptions:


### Implementation solution:

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
req1 = requests.get('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508228964836')
# req1.json()
body = req1.json()
body_data = body['data']

# Question 1:

In [37]:
rank_list = []
df = pd.DataFrame(columns = ['Name', 'Rank', 'Country', 'Region',
                             'No. of International Faculty',  'No. of Total Faculty',
                             'No. of International Students', 'No. of Total Students'])

# The helper function that gets information from details pages
def get_numbers(soup, class_name):
    try:
        num = float(soup.find(class_=class_name).find(class_='number').string[1:-1].replace(",", ""))
    except:
        num = float("NaN")
        school_name = soup.find(class_ = "qs-profile-2 content panel-panel").find_next('h1').string
        print("Error in " + school_name + ": Can't find " + class_name)
    return num

dict_fields = {'Name':    'title',
               'Rank':    'rank_display',
               'Country': 'country',
               'Region':  'region'}
dict_class_names = {'No. of International Faculty':  'inter faculty',
                    'No. of Total Faculty':          'total faculty',
                    'No. of International Students': 'total inter',
                    'No. of Total Students':         'total student',}

for i in range(200):
    details = requests.get('https://www.topuniversities.com' + body_data[i]['url'])
    html_body = details.text
    soup = BeautifulSoup(html_body, 'html.parser')
    
    dict_school = {}
    for field, field_name in dict_fields.items():
        dict_school[field] = body_data[i][field_name]
    for field, class_name in dict_class_names.items():
        dict_school[field] = get_numbers(soup, class_name)
    
    rank_list.append(dict_school)
    
top_ranking_universities = pd.DataFrame.from_dict(rank_list)
top_ranking_universities.head()

Error in inter faculty New York University (NYU)
Error in total faculty New York University (NYU)
Error in total inter New York University (NYU)
Error in total student New York University (NYU)
Error in inter faculty Indian Institute of Science (IISc) Bangalore

,Country,Name,No. of International Faculty,No. of International Students,No. of Total Faculty,No. of Total Students,Rank,Region
0,United States,Massachusetts Institute of Technology (MIT),1679.0,3717.0,2982.0,11067.0,1,North America
1,United States,Stanford University,2042.0,3611.0,4285.0,15878.0,2,North America
2,United States,Harvard University,1311.0,5266.0,4350.0,22429.0,3,North America
3,United States,California Institute of Technology (Caltech),350.0,647.0,953.0,2255.0,4,North America
4,United Kingdom,University of Cambridge,2278.0,6699.0,5490.0,18770.0,5,Europe

In [34]:
top_ranking_universities = top_ranking_universities[['Name', 'Rank', 'Country', 'Region', 'No. of International Faculty', 'No. of Total Faculty', 'No. of International Students', 'No. of Total Students']]

# Question 2:

In [35]:
top_ranking_universities['Faculty : Student'] = top_ranking_universities['No. of Total Faculty']/top_ranking_universities['No. of Total Students']
top_ranking_universities['International Student : Total Student'] = top_ranking_universities['No. of International Students']/top_ranking_universities['No. of Total Students']

In [36]:
top_ranking_universities

,Name,Rank,Country,Region,No. of International Faculty,No. of Total Faculty,No. of International Students,No. of Total Students,Faculty : Student,International Student : Total Student
0,Massachusetts Institute of Technology (MIT),1,United States,North America,1679.0,2982.0,3717.0,11067.0,0.269450,0.335863
1,Stanford University,2,United States,North America,2042.0,4285.0,3611.0,15878.0,0.269870,0.227422
2,Harvard University,3,United States,North America,1311.0,4350.0,5266.0,22429.0,0.193945,0.234785
3,California Institute of Technology (Caltech),4,United States,North America,350.0,953.0,647.0,2255.0,0.422616,0.286918
4,University of Cambridge,5,United Kingdom,Europe,2278.0,5490.0,6699.0,18770.0,0.292488,0.356899
5,University of Oxford,6,United Kingdom,Europe,2964.0,6750.0,7353.0,19720.0,0.342292,0.372870
6,UCL (University College London),7,United Kingdom,Europe,2554.0,6345.0,14854.0,31080.0,0.204151,0.477928
7,Imperial College London,8,United Kingdom,Europe,2071.0,3930.0,8746.0,16090.0,0.244251,0.543567
8,University of Chicago,9,United States,North America,635.0,2449.0,3379.0,13557.0,0.180645,0.249244
9,ETH Zurich - Swiss Federal Institute of Techno...,10,Switzerland,Europe,1886.0,2477.0,7563.0,19815.0,0.125006,0.381681
10,"Nanyang Technological University, Singapore (NTU)",11,Singapore,Asia,2993.0,4338.0,7251.0,25738.0,0.168545,0.281724
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,1300.0,1695.0,5896.0,10343.0,0.163879,0.570047
12,Princeton University,13,United States,North America,246.0,1007.0,1793.0,8069.0,0.124799,0.222208
13,Cornell University,14,United States,North America,970.0,2718.0,5411.0,21904.0,0.124087,0.247033
14,National University of Singapore (NUS),15,Singapore,Asia,3086.0,5106.0,8917.0,32728.0,0.156013,0.272458
15,Yale University,16,United States,North America,1708.0,4940.0,2469.0,12402.0,0.398323,0.199081
16,Johns Hopkins University,17,United States,North America,1061.0,4462.0,4105.0,16146.0,0.276353,0.254243
17,Columbia University,18,United States,North America,913.0,6189.0,8105.0,25045.0,0.247115,0.323617
18,University of Pennsylvania,19,United States,North America,1383.0,5499.0,4250.0,20639.0,0.266437,0.205921
19,The Australian National University,20,Australia,Oceania,927.0,1600.0,5551.0,14442.0,0.110788,0.384365
20,Duke University,=21,United States,North America,226.0,2938.0,2864.0,15320.0,0.191775,0.186945
21,University of Michigan,=21,United States,North America,1920.0,6809.0,7527.0,43147.0,0.157809,0.174450
22,King's College London,=23,United Kingdom,Europe,1513.0,3650.0,9451.0,23780.0,0.153490,0.397435
23,The University of Edinburgh,=23,United Kingdom,Europe,1553.0,4075.0,10551.0,28040.0,0.145328,0.376284
24,Tsinghua University,25,China,Asia,932.0,5506.0,4072.0,36300.0,0.151680,0.112176
25,The University of Hong Kong,26,Hong Kong,Asia,2085.0,3012.0,8230.0,20214.0,0.149006,0.407144
26,"University of California, Berkeley (UCB)",27,United States,North America,1395.0,3321.0,6086.0,36703.0,0.090483,0.165818
27,Northwestern University,=28,United States,North America,1141.0,4231.0,3422.0,18675.0,0.226560,0.183240
28,The University of Tokyo,=28,Japan,Asia,254.0,4514.0,2639.0,27279.0,0.165475,0.096741
29,The Hong Kong University of Science and Techno...,30,Hong Kong,Asia,835.0,1150.0,2921.0,10375.0,0.110843,0.281542
30,University of Toronto,31,Canada,North America,3905.0,9581.0,21910.0,72207.0,0.132688,0.303433
31,McGill University,32,Canada,North America,1220.0,3646.0,9540.0,28837.0,0.126435,0.330825
32,"University of California, Los Angeles (UCLA)",33,United States,North America,662.0,2859.0,6887.0,40114.0,0.071272,0.171686
33,The University of Manchester,34,United Kingdom,Europe,1653.0,4910.0,13514.0,36670.0,0.133897,0.368530
34,London School of Economics and Political Scien...,35,United Kingdom,Europe,687.0,1088.0,6748.0,9760.0,0.111475,0.691393
35,Kyoto University,=36,Japan,Asia,293.0,4060.0,1990.0,22974.0,0.176722,0.086620
36,Seoul National University,=36,South Korea,Asia,433.0,3930.0,2331.0,28064.0,0.140037,0.083060
37,"University of California, San Diego (UCSD)",=38,United States,North America,870.0,3694.0,6644.0,32237.0,0.114589,0.206099
38,Peking University,=38,China,Asia,1038.0,5185.0,7090.0,42136.0,0.123054,0.168265
39,Fudan University,40,China,Asia,1178.0,4037.0,4680.0,29135.0,0.138562,0.160632
40,KAIST - Korea Advanced Institute of Science & ...,=41,South Korea,Asia,147.0,1250.0,584.0,9826.0,0.127214,0.059434
41,The University of Melbourne,=41,Australia,Oceania,1477.0,3311.0,18030.0,42182.0,0.078493,0.427434
42,"Ecole normale supérieure, Paris",43,France,Europe,75.0,178.0,374.0,1907.0,0.093340,0.196120
43,University of Bristol,44,United Kingdom,Europe,942.0,2870.0,5099.0,20630.0,0.139118,0.247164
44,The University of New South Wales (UNSW Sydney),45,Australia,Oceania,1612.0,2924.0,14292.0,39784.0,0.073497,0.359240
45,The Chinese University of Hong Kong (CUHK),46,Hong Kong,Asia,1074.0,2208.0,4824.0,18037.0,0.122415,0.267450
46,Carnegie Mellon University,=47,United States,North America,425.0,1342.0,6385.0,13356.0,0.100479,0.478062
47,The University of Queensland,=47,Australia,Oceania,1870.0,3158.0,10420.0,37497.0,0.084220,0.277889
48,City University of Hong Kong,49,Hong Kong,Asia,1027.0,1349.0,3273.0,9240.0,0.145996,0.354221
49,The University of Sydney,50,Australia,Oceania,1829.0,3360.0,17030.0,46678.0,0.071983,0.364840
50,University of British Columbia,51,Canada,North America,1635.0,4648.0,11388.0,50350.0,0.092314,0.226177
51,New York University (NYU),52,United States,North America,NaN,NaN,NaN,NaN,NaN,NaN
52,Brown University,53,United States,North America,379.0,1303.0,1825.0,9251.0,0.140850,0.197276
53,Delft University of Technology,54,Netherlands,Europe,701.0,1669.0,4634.0,16527.0,0.100986,0.280390
54,University of Wisconsin-Madison,55,United States,North America,1151.0,5722.0,4920.0,38985.0,0.146774,0.126202
55,Tokyo Institute of Technology,56,Japan,Asia,191.0,1563.0,1071.0,9832.0,0.158971,0.108930
56,The University of Warwick,57,United Kingdom,Europe,890.0,2093.0,7703.0,19855.0,0.105414,0.387963
57,University of Amsterdam,58,Netherlands,Europe,707.0,2600.0,3785.0,25967.0,0.100127,0.145762
58,Ecole Polytechnique,59,France,Europe,259.0,649.0,924.0,3126.0,0.207614,0.295585
59,Monash University,60,Australia,Oceania,1679.0,3204.0,20578.0,57433.0,0.055787,0.358296
60,University of Washington,61,United States,North America,550.0,2484.0,8373.0,56973.0,0.043600,0.146964
61,Shanghai Jiao Tong University,62,China,Asia,887.0,3544.0,2858.0,38931.0,0.091033,0.073412
62,Osaka University,63,Japan,Asia,296.0,2814.0,2106.0,22760.0,0.123638,0.092531
63,Technical University of Munich,64,Germany,Europe,1174.0,5850.0,6181.0,38726.0,0.151061,0.159609
64,University of Glasgow,65,United Kingdom,Europe,956.0,2775.0,8149.0,23815.0,0.116523,0.342179
65,Ludwig-Maximilians-Universität München,66,Germany,Europe,674.0,3274.0,5084.0,35055.0,0.093396,0.145029
66,University of Texas at Austin,67,United States,North America,108.0,2833.0,4744.0,47995.0,0.059027,0.098844
67,Ruprecht-Karls-Universität Heidelberg,68,Germany,Europe,756.0,3908.0,5298.0,28852.0,0.135450,0.183627
68,University of Illinois at Urbana-Champaign,69,United States,North America,259.0,2554.0,9483.0,42427.0,0.060198,0.223513
69,Georgia Institute of Technology,70,United States,North America,75.0,1133.0,4761.0,21082.0,0.053743,0.225832
70,Pohang University of Science And Technology (P...,=71,South Korea,Asia,113.0,664.0,126.0,3117.0,0.213025,0.040423
71,KU Leuven,=71,Belgium,Europe,784.0,2515.0,6926.0,45538.0,0.055229,0.152093
72,University of Zurich,=73,Switzerland,Europe,2617.0,4997.0,5036.0,26065.0,0.191713,0.193209
73,University of Copenhagen,=73,Denmark,Europe,2336.0,7483.0,3683.0,32119.0,0.232977,0.114667
74,Universidad de Buenos Aires (UBA),75,Argentina,Latin America,3165.0,16421.0,27109.0,122301.0,0.134267,0.221658
75,Tohoku University,=76,Japan,Asia,264.0,3411.0,1604.0,17827.0,0.191339,0.089976
76,National Taiwan University (NTU),=76,Taiwan,Asia,220.0,2807.0,3152.0,32195.0,0.087187,0.097903
77,Lund University,=78,Sweden,Europe,1002.0,3031.0,6408.0,27786.0,0.109084,0.230620
78,Durham University,=78,United Kingdom,Europe,586.0,1539.0,4690.0,16745.0,0.091908,0.280084
79,"University of North Carolina, Chapel Hill",80,United States,North America,524.0,4083.0,1934.0,25373.0,0.160919,0.076223
80,Boston University,81,United States,North America,379.0,3157.0,7041.0,25662.0,0.123022,0.274375
81,The University of Auckland,=82,New Zealand,Oceania,645.0,2047.0,8568.0,29641.0,0.069060,0.289059
82,The University of Sheffield,=82,United Kingdom,Europe,938.0,3065.0,8745.0,25430.0,0.120527,0.343885
83,The University of Nottingham,=84,United Kingdom,Europe,1135.0,3360.0,7993.0,29165.0,0.115207,0.274061
84,University of Birmingham,=84,United Kingdom,Europe,1028.0,2962.0,7795.0,28660.0,0.103350,0.271982
85,The Ohio State University,86,United States,North America,1696.0,5911.0,6874.0,43156.0,0.136968,0.159283
86,Zhejiang University,87,China,Asia,1913.0,4507.0,4625.0,40869.0,0.110279,0.113166
87,"Trinity College Dublin, The University of Dublin",88,Ireland,Europe,544.0,1249.0,4311.0,14961.0,0.083484,0.288149
88,Rice University,89,United States,North America,316.0,969.0,1847.0,6610.0,0.146596,0.279425
89,Korea University,=90,South Korea,Asia,339.0,3745.0,3638.0,25892.0,0.144639,0.140507
90,University of Alberta,=90,Canada,North America,1294.0,3561.0,8203.0,31765.0,0.112105,0.258240
91,University of St Andrews,92,United Kingdom,Europe,485.0,1140.0,4030.0,8800.0,0.129545,0.457955
92,The University of Western Australia,=93,Australia,Oceania,809.0,1420.0,4575.0,18531.0,0.076628,0.246884
93,Pennsylvania State University,=93,United States,North America,211.0,3509.0,7081.0,45612.0,0.076932,0.155244
94,Lomonosov Moscow State University,=95,Russia,Europe,373.0,6709.0,5098.0,30233.0,0.221910,0.168624
95,The Hong Kong Polytechnic University,=95,Hong Kong,Asia,1275.0,2447.0,5251.0,20972.0,0.116679,0.250381
96,University of Science and Technology of China,97,China,Asia,155.0,1992.0,548.0,16032.0,0.124251,0.034182
97,University of Geneva,=98,Switzerland,Europe,1029.0,1752.0,6104.0,15844.0,0.110578,0.385256
98,KTH Royal Institute of Technology,=98,Sweden,Europe,494.0,1500.0,1937.0,12658.0,0.118502,0.153026
99,Washington University in St. Louis,100,United States,North America,784.0,2699.0,2706.0,13474.0,0.200312,0.200831
100,University of Leeds,101,United Kingdom,Europe,870.0,3025.0,7534.0,29645.0,0.102041,0.254141
101,University of Southampton,=102,United Kingdom,Europe,1017.0,2820.0,7789.0,23775.0,0.118612,0.327613
102,University of Helsinki,=102,Finland,Europe,535.0,2645.0,1234.0,22419.0,0.117980,0.055043
103,Eindhoven University of Technology,104,Netherlands,Europe,322.0,801.0,1275.0,7636.0,0.104898,0.166972
104,Purdue University,105,United States,North America,1334.0,3247.0,8787.0,38143.0,0.085127,0.230370
105,Yonsei University,106,South Korea,Asia,290.0,3621.0,3379.0,25903.0,0.139791,0.130448
106,"KIT, Karlsruhe Institute of Technology",107,Germany,Europe,410.0,1827.0,4809.0,26081.0,0.070051,0.184387
107,Sungkyunkwan University (SKKU),108,South Korea,Asia,324.0,3556.0,2818.0,23921.0,0.148656,0.117804
108,The University of Adelaide,=109,Australia,Oceania,633.0,1729.0,8114.0,21240.0,0.081403,0.382015
109,Utrecht University,=109,Netherlands,Europe,653.0,3067.0,2771.0,31754.0,0.096586,0.087265
110,Leiden University,=109,Netherlands,Europe,581.0,2324.0,3488.0,26513.0,0.087655,0.131558
111,Uppsala University,112,Sweden,Europe,584.0,2567.0,5198.0,25371.0,0.101179,0.204880
112,University of Groningen,113,Netherlands,Europe,1137.0,3351.0,10780.0,27549.0,0.121638,0.391303
113,Universiti Malaya (UM),=114,Malaysia,Asia,655.0,2755.0,3476.0,17902.0,0.153893,0.194168
114,Nanjing University,=114,China,Asia,617.0,2449.0,2960.0,32495.0,0.075365,0.091091
115,Technical University of Denmark,=116,Denmark,Europe,966.0,2117.0,2098.0,8878.0,0.238455,0.236314
116,Nagoya University,=116,Japan,Asia,206.0,2665.0,1547.0,15838.0,0.168266,0.097676
117,"University of California, Davis",118,United States,North America,549.0,3843.0,4529.0,34244.0,0.112224,0.132257
118,Aarhus University,119,Denmark,Europe,602.0,2316.0,3762.0,26226.0,0.088309,0.143445
119,Humboldt-Universität zu Berlin,120,Germany,Europe,407.0,1966.0,4805.0,33198.0,0.059220,0.144738
120,Universidade de São Paulo,121,Brazil,Latin America,279.0,5582.0,2086.0,65711.0,0.084948,0.031745
121,Hokkaido University,=122,Japan,Asia,210.0,2605.0,1347.0,17552.0,0.148416,0.076743
122,Universidad Nacional Autónoma de México (UNAM),=122,Mexico,Latin America,949.0,15073.0,2173.0,141939.0,0.106194,0.015309
123,Wageningen University,124,Netherlands,Europe,323.0,2277.0,3613.0,12695.0,0.179362,0.284600
124,Freie Universitaet Berlin,=125,Germany,Europe,305.0,1375.0,5735.0,32912.0,0.041778,0.174253
125,Ghent University,=125,Belgium,Europe,482.0,2520.0,3766.0,35968.0,0.070062,0.104704
126,Queen Mary University of London,127,United Kingdom,Europe,801.0,1885.0,6806.0,16135.0,0.116827,0.421816
127,Kyushu University,128,Japan,Asia,246.0,2858.0,1787.0,18660.0,0.153162,0.095766
128,"University of Maryland, College Park",129,United States,North America,473.0,3920.0,4683.0,35504.0,0.110410,0.131901
129,Université de Montréal,130,Canada,North America,1037.0,2961.0,9688.0,39112.0,0.075706,0.247699
130,Université Pierre et Marie Curie (UPMC),131,France,Europe,253.0,2273.0,4213.0,24305.0,0.093520,0.173339
131,University of Southern California,132,United States,North America,551.0,3124.0,9170.0,38749.0,0.080621,0.236651
132,Chalmers University of Technology,133,Sweden,Europe,336.0,1077.0,1465.0,9257.0,0.116344,0.158259
133,"University of California, Santa Barbara (UCSB)",134,United States,North America,267.0,1449.0,2128.0,23149.0,0.062594,0.091926
134,Lancaster University,=135,United Kingdom,Europe,435.0,1245.0,4464.0,12300.0,0.101220,0.362927
135,University of York,=135,United Kingdom,Europe,636.0,1833.0,3364.0,15999.0,0.114570,0.210263
136,Pontificia Universidad Católica de Chile (UC),=137,Chile,Latin America,198.0,2260.0,991.0,27003.0,0.083694,0.036700
137,Aalto University,=137,Finland,Europe,370.0,1257.0,1831.0,12147.0,0.103482,0.150737
138,Cardiff University,=137,United Kingdom,Europe,705.0,2755.0,6090.0,24565.0,0.112151,0.247914
139,McMaster University,140,Canada,North America,1170.0,3231.0,3548.0,23702.0,0.136318,0.149692
140,RWTH Aachen University,141,Germany,Europe,449.0,3176.0,8556.0,44517.0,0.071344,0.192196
141,University of Oslo,=142,Norway,Europe,711.0,2509.0,3667.0,24304.0,0.103234,0.150881
142,University of Pittsburgh,=142,United States,North America,572.0,4982.0,2937.0,26393.0,0.188762,0.111280
143,Technische Universität Berlin (TU Berlin),144,Germany,Europe,377.0,2562.0,4494.0,22176.0,0.115530,0.202652
144,The Hebrew University of Jerusalem,145,Israel,Asia,454.0,2249.0,1034.0,16531.0,0.136047,0.062549
145,University of Lausanne,146,Switzerland,Europe,1031.0,2173.0,3337.0,13435.0,0.161742,0.248381
146,Emory University,=147,United States,North America,484.0,2560.0,2154.0,12852.0,0.199191,0.167600
147,Erasmus University Rotterdam,=147,Netherlands,Europe,458.0,2011.0,5229.0,23273.0,0.086409,0.224681
148,Michigan State University,=149,United States,North America,653.0,2884.0,7427.0,44951.0,0.064159,0.165224
149,University of Basel,=149,Switzerland,Europe,684.0,1057.0,3441.0,12852.0,0.082244,0.267740
150,University of Otago,151,New Zealand,Oceania,759.0,1266.0,3871.0,18532.0,0.068314,0.208882
151,University of Waterloo,152,Canada,North America,473.0,1689.0,8962.0,35541.0,0.047523,0.252159
152,Université catholique de Louvain (UCL),153,Belgium,Europe,406.0,1219.0,4468.0,24277.0,0.050212,0.184043
153,University of Vienna,154,Austria,Europe,1400.0,3411.0,14468.0,45967.0,0.074205,0.314748
154,Hanyang University,155,South Korea,Asia,364.0,3085.0,3397.0,23348.0,0.132131,0.145494
155,Universitat de Barcelona,156,Spain,Europe,108.0,3863.0,6134.0,46002.0,0.083975,0.133342
156,École Normale Supérieure de Lyon,157,France,Europe,91.0,382.0,221.0,2020.0,0.189109,0.109406
157,The University of Exeter,=158,United Kingdom,Europe,597.0,1756.0,5504.0,20749.0,0.084631,0.265266
158,University of Aberdeen,=158,United Kingdom,Europe,508.0,1310.0,4246.0,12005.0,0.109121,0.353686
159,University of Bath,160,United Kingdom,Europe,440.0,1165.0,4213.0,14370.0,0.081072,0.293180
160,National Tsing Hua University,=161,Taiwan,Asia,119.0,1020.0,1187.0,13890.0,0.073434,0.085457
161,Newcastle University,=161,United Kingdom,Europe,835.0,2428.0,5717.0,21673.0,0.112029,0.263784
162,University of Minnesota,163,United States,North America,195.0,4919.0,6542.0,59742.0,0.082337,0.109504
163,Eberhard Karls Universität Tübingen,=164,Germany,Europe,796.0,3844.0,3860.0,27366.0,0.140466,0.141051
164,"University of California, Irvine",=164,United States,North America,377.0,1926.0,8538.0,32151.0,0.059905,0.265559
165,University of Bergen,=164,Norway,Europe,484.0,1513.0,767.0,10671.0,0.141786,0.071877
166,University of Bern,167,Switzerland,Europe,661.0,1172.0,1618.0,10758.0,0.108942,0.150400
167,University College Dublin,168,Ireland,Europe,627.0,1604.0,3876.0,19833.0,0.080875,0.195432
168,Dartmouth College,169,United States,North America,27.0,939.0,945.0,6224.0,0.150868,0.151832
169,Politecnico di Milano,170,Italy,Europe,231.0,1500.0,5593.0,36277.0,0.041349,0.154175
170,Albert-Ludwigs-Universitaet Freiburg,171,Germany,Europe,413.0,1966.0,3897.0,23214.0,0.084690,0.167873
171,Indian Institute of Technology Delhi (IITD),172,India,Asia,4.0,466.0,80.0,7477.0,0.062324,0.010699
172,University of Virginia,=173,United States,North America,487.0,2509.0,1899.0,21560.0,0.116373,0.088080
173,King Fahd University of Petroleum & Minerals,=173,Saudi Arabia,Asia,665.0,1062.0,989.0,6040.0,0.175828,0.163742
174,University of Liverpool,=173,United Kingdom,Europe,717.0,2390.0,7502.0,22065.0,0.108316,0.339995
175,University of Technology Sydney,176,Australia,Oceania,546.0,1328.0,7769.0,24207.0,0.054860,0.320940
176,CentraleSupélec,177,France,Europe,137.0,529.0,1132.0,3877.0,0.136446,0.291978
177,University of Florida,178,United States,North America,504.0,5419.0,4597.0,45485.0,0.119138,0.101066
178,University of Twente,=179,Netherlands,Europe,299.0,910.0,2235.0,9332.0,0.097514,0.239498
179,Indian Institute of Technology Bombay (IITB),=179,India,Asia,19.0,876.0,93.0,9402.0,0.093172,0.009892
180,University of Göttingen,181,Germany,Europe,641.0,3678.0,3736.0,30402.0,0.120979,0.122887
181,Vrije Universiteit Brussel (VUB),=182,Belgium,Europe,515.0,1792.0,1853.0,9284.0,0.193020,0.199591
182,Universidade Estadual de Campinas (Unicamp),=182,Brazil,Latin America,109.0,1968.0,966.0,26572.0,0.074063,0.036354
183,University of Colorado Boulder,=182,United States,North America,566.0,3685.0,2679.0,30219.0,0.121943,0.088653
184,Vienna University of Technology,=182,Austria,Europe,172.0,706.0,5199.0,17479.0,0.040391,0.297443
185,University of Rochester,186,United States,North America,488.0,2569.0,2805.0,9636.0,0.266604,0.291096
186,Universidad Autónoma de Madrid,187,Spain,Europe,181.0,2738.0,2976.0,26511.0,0.103278,0.112255
187,Alma Mater Studiorum - University of Bologna,=188,Italy,Europe,153.0,2990.0,4195.0,63399.0,0.047162,0.066168
188,University of Reading,=188,United Kingdom,Europe,422.0,1280.0,4077.0,13330.0,0.096024,0.305851
189,Indian Institute of Science (IISc) Bangalore,190,India,Asia,NaN,423.0,47.0,4071.0,0.103906,0.011545
190,University of Cape Town,191,South Africa,Africa,379.0,1733.0,3325.0,19593.0,0.088450,0.169703
191,Keio University CEMS MIM,=192,Japan,Asia,261.0,3905.0,2178.0,33500.0,0.116567,0.065015
192,Scuola Normale Superiore di Pisa,=192,Italy,Europe,1.0,86.0,48.0,532.0,0.161654,0.090226
193,Scuola Superiore Sant'Anna Pisa di Studi Unive...,=192,Italy,Europe,1.0,119.0,135.0,789.0,0.150824,0.171103
194,Texas A&M University,=195,United States,North America,206.0,3446.0,4900.0,60294.0,0.057153,0.081268
195,Stockholm University,=195,Sweden,Europe,646.0,2154.0,2636.0,28281.0,0.076164,0.093207

In [37]:
top_uni_by_facstud = top_ranking_universities.sort_values(by = 'Faculty : Student', axis = 0, ascending = False)
top_uni_by_interstud = top_ranking_universities.sort_values(by = 'International Student : Total Student', axis = 0, ascending = False)

# Question 2a:

In [38]:
top_uni_by_facstud.head()

,Name,Rank,Country,Region,No. of International Faculty,No. of Total Faculty,No. of International Students,No. of Total Students,Faculty : Student,International Student : Total Student
3,California Institute of Technology (Caltech),4,United States,North America,350.0,953.0,647.0,2255.0,0.422616,0.286918
15,Yale University,16,United States,North America,1708.0,4940.0,2469.0,12402.0,0.398323,0.199081
5,University of Oxford,6,United Kingdom,Europe,2964.0,6750.0,7353.0,19720.0,0.342292,0.372870
4,University of Cambridge,5,United Kingdom,Europe,2278.0,5490.0,6699.0,18770.0,0.292488,0.356899
16,Johns Hopkins University,17,United States,North America,1061.0,4462.0,4105.0,16146.0,0.276353,0.254243

# Question 2b:

In [39]:
top_uni_by_interstud.head()

,Name,Rank,Country,Region,No. of International Faculty,No. of Total Faculty,No. of International Students,No. of Total Students,Faculty : Student,International Student : Total Student
34,London School of Economics and Political Scien...,35,United Kingdom,Europe,687.0,1088.0,6748.0,9760.0,0.111475,0.691393
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,1300.0,1695.0,5896.0,10343.0,0.163879,0.570047
7,Imperial College London,8,United Kingdom,Europe,2071.0,3930.0,8746.0,16090.0,0.244251,0.543567
198,Maastricht University,200,Netherlands,Europe,502.0,1277.0,8234.0,16385.0,0.077937,0.502533
46,Carnegie Mellon University,=47,United States,North America,425.0,1342.0,6385.0,13356.0,0.100479,0.478062

Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
Answer the previous question aggregating the data by (c) country and (d) region.

In [44]:
country_facstud = top_ranking_universities.groupby('Country').apply(lambda x: x.sort_values(by = 'Faculty : Student', axis = 0, ascending = False))
country_interstud = top_ranking_universities.groupby('Country').apply(lambda x: x.sort_values(by = 'International Student : Total Student', axis = 0, ascending = False))

In [45]:
region_facstud = top_ranking_universities.groupby('Region').apply(lambda x: x.sort_values(by = 'Faculty : Student', axis = 0, ascending = False))
region_interstud = top_ranking_universities.groupby('Region').apply(lambda x: x.sort_values(by = 'International Student : Total Student', axis = 0, ascending = False))

# Times higher education

1. https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json

rank
name
aliases
location
stats_number_students
stats_student_staff_ratio
stats_pc_intl_students

In [50]:
req_times = requests.get('https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json')
body_times = req_times.json()
body_times_data = body_times['data']

In [61]:
rank_list_times = []

for i in range(200):
    name = body_times_data[i]['name']
    aliases = body_times_data[i]['aliases']
    rank = body_times_data[i]['rank']
    location = body_times_data[i]['location']
#     print(location)
    num_students = float(body_times_data[i]['stats_number_students'].replace(",",""))
    student_staff = float(body_times_data[i]['stats_student_staff_ratio'].replace(",",""))
    perc_international = float(body_times_data[i]['stats_pc_intl_students'].strip("%").replace(",",""))/100.0
    
    rank_list_times.append({'Name': name,
                            'Aliases': aliases,
                            'Rank': rank,
                            'Location': location,
                            'No. of Total Students': num_students,
                            'Student : Faculty': student_staff,
                            'Ratio International Students': perc_international
                      
                     })
    
times_universities = pd.DataFrame.from_dict(rank_list_times)
times_universities.head()

,Aliases,Location,Name,No. of Total Students,Rank,Ratio International Students,Student : Faculty
0,University of Oxford,United Kingdom,University of Oxford,20409.0,1,0.38,11.2
1,University of Cambridge,United Kingdom,University of Cambridge,18389.0,2,0.35,10.9
2,California Institute of Technology caltech,United States,California Institute of Technology,2209.0,=3,0.27,6.5
3,Stanford University,United States,Stanford University,15845.0,=3,0.22,7.5
4,Massachusetts Institute of Technology,United States,Massachusetts Institute of Technology,11177.0,5,0.34,8.7