In [2]:
# Import all the libraries
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn', Mutes warnings when copying a slice from a DataFrame.
pd.set_option('display.max_columns', None)
import glob
import datetime
import os
import json
from io import StringIO
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
DATA_FOLDER = 'data/'

In [17]:
files = glob.glob(DATA_FOLDER + 'part-000*')

['data\\part-00000',
 'data\\part-00001',
 'data\\part-00002',
 'data\\part-00003',
 'data\\part-00004',
 'data\\part-00005',
 'data\\part-00006',
 'data\\part-00007',
 'data\\part-00008',
 'data\\part-00009']

In [18]:
def load_one_file(path):
    with open(path) as f:
        return [json.loads(line) for line in f]

data = [j for f in files for j in load_one_file(f)]

df = pd.DataFrame(data)

In [23]:
df.head()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,B005FYPK9C,"[0, 0]",5.0,I was sketchy at first about these but once yo...,"01 8, 2013",A000008615DZQRRI946FO,mj waldon,great buy,1357603200
1,0871714779,"[0, 0]",1.0,"Because I have not gotten the book yet, I may ...","05 22, 2013",A000096625CHSNKYTYGZN,Melody L Fearn,I Have Not Got It Yet.,1369180800
2,B00E7OIOVC,"[0, 0]",5.0,Great!,"07 3, 2014",A0001528BGUBOEVR6T5U,igozingo,Five Stars,1404345600
3,B00EXOZ9W8,"[0, 0]",5.0,"My man was more then happy with it, looking fo...","07 2, 2014",A00030342K9JCQO8Q7C3L,Joseph Dvorak,Five Stars,1404259200
4,B000G2OYOU,"[1, 1]",5.0,The spirit of Selassie is with us through the ...,"11 20, 2012",A00040103SIRXWSG7KCB6,Brian DelaCruz,Jah Jah Kingstone,1353369600

In [10]:
df.describe()

            helpful       overall  unixReviewTime
count  42222.000000  42222.000000    4.222200e+04
mean       2.070271      4.193264    1.344414e+09
std       16.425912      1.234947    8.185059e+07
min        0.000000      1.000000    8.752320e+08
25%        0.000000      4.000000    1.343174e+09
50%        0.000000      5.000000    1.371427e+09
75%        1.000000      5.000000    1.390522e+09
max     1575.000000      5.000000    1.406074e+09