In [2]:
# Import all the libraries
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn', Mutes warnings when copying a slice from a DataFrame.
pd.set_option('display.max_columns', None)
import glob
import datetime
import os
import json
from io import StringIO
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
DATA_FOLDER = 'data/'

In [4]:
files = glob.glob(DATA_FOLDER + 'part-0000*')

In [5]:
data_frames = []

for f in files:
    with open(f) as i:
        for line in i:
            j = json.loads(line)
            new_frame = pd.DataFrame(j)
            data_frames.append(new_frame)

df = pd.concat(data_frames)

In [12]:
df.head()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,B005FYPK9C,0,5.0,I was sketchy at first about these but once yo...,"01 8, 2013",A000008615DZQRRI946FO,mj waldon,great buy,1357603200
1,B005FYPK9C,0,5.0,I was sketchy at first about these but once yo...,"01 8, 2013",A000008615DZQRRI946FO,mj waldon,great buy,1357603200
0,0871714779,0,1.0,"Because I have not gotten the book yet, I may ...","05 22, 2013",A000096625CHSNKYTYGZN,Melody L Fearn,I Have Not Got It Yet.,1369180800
1,0871714779,0,1.0,"Because I have not gotten the book yet, I may ...","05 22, 2013",A000096625CHSNKYTYGZN,Melody L Fearn,I Have Not Got It Yet.,1369180800
0,B00E7OIOVC,0,5.0,Great!,"07 3, 2014",A0001528BGUBOEVR6T5U,igozingo,Five Stars,1404345600

In [10]:
df.describe()

            helpful       overall  unixReviewTime
count  42222.000000  42222.000000    4.222200e+04
mean       2.070271      4.193264    1.344414e+09
std       16.425912      1.234947    8.185059e+07
min        0.000000      1.000000    8.752320e+08
25%        0.000000      4.000000    1.343174e+09
50%        0.000000      5.000000    1.371427e+09
75%        1.000000      5.000000    1.390522e+09
max     1575.000000      5.000000    1.406074e+09