# 02 - Data from the Web

## Deadline
Wednesday October 25, 2017 at 11:59PM

## Important Notes
* Make sure you push on GitHub your Notebook with all the cells already evaluated (i.e., you don't want your colleagues to generate unnecessary Web traffic during the peer review)
* Don't forget to add a textual description of your thought process, the assumptions you made, and the solution you plan to implement!
* Please write all your comments in English, and use meaningful variable names in your code.

## Background
In this homework we will extract interesting information from www.topuniversities.com and www.timeshighereducation.com, two platforms that maintain a global ranking of worldwide universities. This ranking is not offered as a downloadable dataset, so you will have to find a way to scrape the information we need!
You are not allowed to download manually the entire ranking -- rather you have to understand how the server loads it in your browser. For this task, Postman with the Interceptor extension can help you greatly. We recommend that you watch this [brief tutorial](https://www.youtube.com/watch?v=jBjXVrS8nXs&list=PLM-7VG-sgbtD8qBnGeQM5nvlpqB_ktaLZ&autoplay=1) to understand quickly how to use it.

## Assignment
1. Obtain the 200 top-ranking universities in www.topuniversities.com ([ranking 2018](https://www.topuniversities.com/university-rankings/world-university-rankings/2018)). In particular, extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total). Some information is not available in the main list and you have to find them in the [details page](https://www.topuniversities.com/universities/ecole-polytechnique-fÃ©dÃ©rale-de-lausanne-epfl).
Store the resulting dataset in a pandas DataFrame and answer the following questions:
    - Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
    - Answer the previous question aggregating the data by (c) country and (d) region.
    
 Plot your data using bar charts and describe briefly what you observed.

2. Obtain the 200 top-ranking universities in www.timeshighereducation.com ([ranking 2018](http://timeshighereducation.com/world-university-rankings/2018/world-ranking)). Repeat the analysis of the previous point and discuss briefly what you observed.

3. Merge the two DataFrames created in questions 1 and 2 using university names. Match universities' names as well as you can, and explain your strategy. Keep track of the original position in both rankings.

4. Find useful insights in the data by performing an exploratory analysis. Can you find a strong correlation between any pair of variables in the dataset you just created? Example: when a university is strong in its international dimension, can you observe a consistency both for students and faculty members?

5. Can you find the best university taking in consideration both rankings? Explain your approach.

Hints:
- Keep your Notebook clean and don't print the verbose output of the requests if this does not add useful information for the reader.
- In case of tie, use the order defined in the webpage.

##  Textual description of your thought process, the assumptions you made, and the solution you plan to implement!

### Thought process:

www.topuniversities.com 
1. get https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508228964836
    a. this is a json file
2. obtain name rank country region
3. get https://www.topuniversities.com/universities/ecole-polytechnique-f%C3%A9d%C3%A9rale-de-lausanne-epfl
    a. this is a html file
4. get number of faculty -- international and total, number of students -- international and total

### analysis
1. Faculty : student ratio
2. international student : total student ratio



### Our assumptions:


### Implementation solution:

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
req1 = requests.get('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508228964836')
# req1.json()
body = req1.json()
body_data = body['data']

# Question 1:

We first crawl data from the webpages, including the details page of universities we are interested in.

In [37]:
rank_list = []
df = pd.DataFrame(columns = ['Name', 'Rank', 'Country', 'Region',
                             'No. of International Faculty',  'No. of Total Faculty',
                             'No. of International Students', 'No. of Total Students'])

# The helper function that gets information from details pages
def get_numbers(soup, class_name):
    try:
        num = float(soup.find(class_=class_name).find(class_='number').string[1:-1].replace(",", ""))
    except:
        num = float("NaN")
        school_name = soup.find(class_ = "qs-profile-2 content panel-panel").find_next('h1').string
        print("Error in " + school_name + ": Can't find " + class_name)
    return num

dict_fields = {'Name':    'title',
               'Rank':    'rank_display',
               'Country': 'country',
               'Region':  'region'}
dict_class_names = {'No. of International Faculty':  'inter faculty',
                    'No. of Total Faculty':          'total faculty',
                    'No. of International Students': 'total inter',
                    'No. of Total Students':         'total student',}

for i in range(200):
    details = requests.get('https://www.topuniversities.com' + body_data[i]['url'])
    html_body = details.text
    soup = BeautifulSoup(html_body, 'html.parser')
    
    dict_school = {}
    for field, field_name in dict_fields.items():
        dict_school[field] = body_data[i][field_name]
    for field, class_name in dict_class_names.items():
        dict_school[field] = get_numbers(soup, class_name)
    
    rank_list.append(dict_school)
    
top_ranking_universities = pd.DataFrame.from_dict(rank_list)
top_ranking_universities.head()

Error in inter faculty New York University (NYU)
Error in total faculty New York University (NYU)
Error in total inter New York University (NYU)
Error in total student New York University (NYU)
Error in inter faculty Indian Institute of Science (IISc) Bangalore

,Country,Name,No. of International Faculty,No. of International Students,No. of Total Faculty,No. of Total Students,Rank,Region
0,United States,Massachusetts Institute of Technology (MIT),1679.0,3717.0,2982.0,11067.0,1,North America
1,United States,Stanford University,2042.0,3611.0,4285.0,15878.0,2,North America
2,United States,Harvard University,1311.0,5266.0,4350.0,22429.0,3,North America
3,United States,California Institute of Technology (Caltech),350.0,647.0,953.0,2255.0,4,North America
4,United Kingdom,University of Cambridge,2278.0,6699.0,5490.0,18770.0,5,Europe

From the dataframe obtained, we compute the ratio of factulty to student and international student to total student.

In [41]:
top_ranking_universities['Faculty : Student'] = top_ranking_universities['No. of Total Faculty']/top_ranking_universities['No. of Total Students']
top_ranking_universities['International Student : Total Student'] = top_ranking_universities['No. of International Students']/top_ranking_universities['No. of Total Students']

top_ranking_universities

,Country,Name,No. of International Faculty,No. of International Students,No. of Total Faculty,No. of Total Students,Rank,Region,Faculty : Student,International Student : Total Student
0,United States,Massachusetts Institute of Technology (MIT),1679.0,3717.0,2982.0,11067.0,1,North America,0.269450,0.335863
1,United States,Stanford University,2042.0,3611.0,4285.0,15878.0,2,North America,0.269870,0.227422
2,United States,Harvard University,1311.0,5266.0,4350.0,22429.0,3,North America,0.193945,0.234785
3,United States,California Institute of Technology (Caltech),350.0,647.0,953.0,2255.0,4,North America,0.422616,0.286918
4,United Kingdom,University of Cambridge,2278.0,6699.0,5490.0,18770.0,5,Europe,0.292488,0.356899
5,United Kingdom,University of Oxford,2964.0,7353.0,6750.0,19720.0,6,Europe,0.342292,0.372870
6,United Kingdom,UCL (University College London),2554.0,14854.0,6345.0,31080.0,7,Europe,0.204151,0.477928
7,United Kingdom,Imperial College London,2071.0,8746.0,3930.0,16090.0,8,Europe,0.244251,0.543567
8,United States,University of Chicago,635.0,3379.0,2449.0,13557.0,9,North America,0.180645,0.249244
9,Switzerland,ETH Zurich - Swiss Federal Institute of Techno...,1886.0,7563.0,2477.0,19815.0,10,Europe,0.125006,0.381681
10,Singapore,"Nanyang Technological University, Singapore (NTU)",2993.0,7251.0,4338.0,25738.0,11,Asia,0.168545,0.281724
11,Switzerland,Ecole Polytechnique Fédérale de Lausanne (EPFL),1300.0,5896.0,1695.0,10343.0,12,Europe,0.163879,0.570047
12,United States,Princeton University,246.0,1793.0,1007.0,8069.0,13,North America,0.124799,0.222208
13,United States,Cornell University,970.0,5411.0,2718.0,21904.0,14,North America,0.124087,0.247033
14,Singapore,National University of Singapore (NUS),3086.0,8917.0,5106.0,32728.0,15,Asia,0.156013,0.272458
15,United States,Yale University,1708.0,2469.0,4940.0,12402.0,16,North America,0.398323,0.199081
16,United States,Johns Hopkins University,1061.0,4105.0,4462.0,16146.0,17,North America,0.276353,0.254243
17,United States,Columbia University,913.0,8105.0,6189.0,25045.0,18,North America,0.247115,0.323617
18,United States,University of Pennsylvania,1383.0,4250.0,5499.0,20639.0,19,North America,0.266437,0.205921
19,Australia,The Australian National University,927.0,5551.0,1600.0,14442.0,20,Oceania,0.110788,0.384365
20,United States,Duke University,226.0,2864.0,2938.0,15320.0,=21,North America,0.191775,0.186945
21,United States,University of Michigan,1920.0,7527.0,6809.0,43147.0,=21,North America,0.157809,0.174450
22,United Kingdom,King's College London,1513.0,9451.0,3650.0,23780.0,=23,Europe,0.153490,0.397435
23,United Kingdom,The University of Edinburgh,1553.0,10551.0,4075.0,28040.0,=23,Europe,0.145328,0.376284
24,China,Tsinghua University,932.0,4072.0,5506.0,36300.0,25,Asia,0.151680,0.112176
25,Hong Kong,The University of Hong Kong,2085.0,8230.0,3012.0,20214.0,26,Asia,0.149006,0.407144
26,United States,"University of California, Berkeley (UCB)",1395.0,6086.0,3321.0,36703.0,27,North America,0.090483,0.165818
27,United States,Northwestern University,1141.0,3422.0,4231.0,18675.0,=28,North America,0.226560,0.183240
28,Japan,The University of Tokyo,254.0,2639.0,4514.0,27279.0,=28,Asia,0.165475,0.096741
29,Hong Kong,The Hong Kong University of Science and Techno...,835.0,2921.0,1150.0,10375.0,30,Asia,0.110843,0.281542
...,...,...,...,...,...,...,...,...,...,...
170,Germany,Albert-Ludwigs-Universitaet Freiburg,413.0,3897.0,1966.0,23214.0,171,Europe,0.084690,0.167873
171,India,Indian Institute of Technology Delhi (IITD),4.0,80.0,466.0,7477.0,172,Asia,0.062324,0.010699
172,United States,University of Virginia,487.0,1899.0,2509.0,21560.0,=173,North America,0.116373,0.088080
173,Saudi Arabia,King Fahd University of Petroleum & Minerals,665.0,989.0,1062.0,6040.0,=173,Asia,0.175828,0.163742
174,United Kingdom,University of Liverpool,717.0,7502.0,2390.0,22065.0,=173,Europe,0.108316,0.339995
175,Australia,University of Technology Sydney,546.0,7769.0,1328.0,24207.0,176,Oceania,0.054860,0.320940
176,France,CentraleSupélec,137.0,1132.0,529.0,3877.0,177,Europe,0.136446,0.291978
177,United States,University of Florida,504.0,4597.0,5419.0,45485.0,178,North America,0.119138,0.101066
178,Netherlands,University of Twente,299.0,2235.0,910.0,9332.0,=179,Europe,0.097514,0.239498
179,India,Indian Institute of Technology Bombay (IITB),19.0,93.0,876.0,9402.0,=179,Asia,0.093172,0.009892
180,Germany,University of Göttingen,641.0,3736.0,3678.0,30402.0,181,Europe,0.120979,0.122887
181,Belgium,Vrije Universiteit Brussel (VUB),515.0,1853.0,1792.0,9284.0,=182,Europe,0.193020,0.199591
182,Brazil,Universidade Estadual de Campinas (Unicamp),109.0,966.0,1968.0,26572.0,=182,Latin America,0.074063,0.036354
183,United States,University of Colorado Boulder,566.0,2679.0,3685.0,30219.0,=182,North America,0.121943,0.088653
184,Austria,Vienna University of Technology,172.0,5199.0,706.0,17479.0,=182,Europe,0.040391,0.297443
185,United States,University of Rochester,488.0,2805.0,2569.0,9636.0,186,North America,0.266604,0.291096
186,Spain,Universidad Autónoma de Madrid,181.0,2976.0,2738.0,26511.0,187,Europe,0.103278,0.112255
187,Italy,Alma Mater Studiorum - University of Bologna,153.0,4195.0,2990.0,63399.0,=188,Europe,0.047162,0.066168
188,United Kingdom,University of Reading,422.0,4077.0,1280.0,13330.0,=188,Europe,0.096024,0.305851
189,India,Indian Institute of Science (IISc) Bangalore,NaN,47.0,423.0,4071.0,190,Asia,0.103906,0.011545
190,South Africa,University of Cape Town,379.0,3325.0,1733.0,19593.0,191,Africa,0.088450,0.169703
191,Japan,Keio University CEMS MIM,261.0,2178.0,3905.0,33500.0,=192,Asia,0.116567,0.065015
192,Italy,Scuola Normale Superiore di Pisa,1.0,48.0,86.0,532.0,=192,Europe,0.161654,0.090226
193,Italy,Scuola Superiore Sant'Anna Pisa di Studi Unive...,1.0,135.0,119.0,789.0,=192,Europe,0.150824,0.171103
194,United States,Texas A&M University,206.0,4900.0,3446.0,60294.0,=195,North America,0.057153,0.081268
195,Sweden,Stockholm University,646.0,2636.0,2154.0,28281.0,=195,Europe,0.076164,0.093207
196,Spain,Universitat Autònoma de Barcelona,230.0,3848.0,2187.0,31986.0,=195,Europe,0.068374,0.120303
197,Mexico,Instituto Tecnológico y de Estudios Superiores...,821.0,1412.0,1822.0,13376.0,199,Latin America,0.136214,0.105562
198,Netherlands,Maastricht University,502.0,8234.0,1277.0,16385.0,200,Europe,0.077937,0.502533
199,Chile,Universidad de Chile,127.0,2134.0,2256.0,38848.0,201,Latin America,0.058072,0.054932

In [37]:
top_uni_by_facstud = top_ranking_universities.sort_values(by = 'Faculty : Student', axis = 0, ascending = False)
top_uni_by_interstud = top_ranking_universities.sort_values(by = 'International Student : Total Student', axis = 0, ascending = False)

# Question 1 (a):

In [38]:
top_uni_by_facstud.head()

,Name,Rank,Country,Region,No. of International Faculty,No. of Total Faculty,No. of International Students,No. of Total Students,Faculty : Student,International Student : Total Student
3,California Institute of Technology (Caltech),4,United States,North America,350.0,953.0,647.0,2255.0,0.422616,0.286918
15,Yale University,16,United States,North America,1708.0,4940.0,2469.0,12402.0,0.398323,0.199081
5,University of Oxford,6,United Kingdom,Europe,2964.0,6750.0,7353.0,19720.0,0.342292,0.372870
4,University of Cambridge,5,United Kingdom,Europe,2278.0,5490.0,6699.0,18770.0,0.292488,0.356899
16,Johns Hopkins University,17,United States,North America,1061.0,4462.0,4105.0,16146.0,0.276353,0.254243

# Question 1 (b):

In [39]:
top_uni_by_interstud.head()

,Name,Rank,Country,Region,No. of International Faculty,No. of Total Faculty,No. of International Students,No. of Total Students,Faculty : Student,International Student : Total Student
34,London School of Economics and Political Scien...,35,United Kingdom,Europe,687.0,1088.0,6748.0,9760.0,0.111475,0.691393
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,1300.0,1695.0,5896.0,10343.0,0.163879,0.570047
7,Imperial College London,8,United Kingdom,Europe,2071.0,3930.0,8746.0,16090.0,0.244251,0.543567
198,Maastricht University,200,Netherlands,Europe,502.0,1277.0,8234.0,16385.0,0.077937,0.502533
46,Carnegie Mellon University,=47,United States,North America,425.0,1342.0,6385.0,13356.0,0.100479,0.478062

Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
Answer the previous question aggregating the data by (c) country and (d) region.

In [44]:
country_facstud = top_ranking_universities.groupby('Country').apply(lambda x: x.sort_values(by = 'Faculty : Student', axis = 0, ascending = False))
country_interstud = top_ranking_universities.groupby('Country').apply(lambda x: x.sort_values(by = 'International Student : Total Student', axis = 0, ascending = False))

In [45]:
region_facstud = top_ranking_universities.groupby('Region').apply(lambda x: x.sort_values(by = 'Faculty : Student', axis = 0, ascending = False))
region_interstud = top_ranking_universities.groupby('Region').apply(lambda x: x.sort_values(by = 'International Student : Total Student', axis = 0, ascending = False))

# Times higher education

1. https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json

rank
name
aliases
location
stats_number_students
stats_student_staff_ratio
stats_pc_intl_students

In [50]:
req_times = requests.get('https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json')
body_times = req_times.json()
body_times_data = body_times['data']

In [61]:
rank_list_times = []

for i in range(200):
    name = body_times_data[i]['name']
    aliases = body_times_data[i]['aliases']
    rank = body_times_data[i]['rank']
    location = body_times_data[i]['location']
#     print(location)
    num_students = float(body_times_data[i]['stats_number_students'].replace(",",""))
    student_staff = float(body_times_data[i]['stats_student_staff_ratio'].replace(",",""))
    perc_international = float(body_times_data[i]['stats_pc_intl_students'].strip("%").replace(",",""))/100.0
    
    rank_list_times.append({'Name': name,
                            'Aliases': aliases,
                            'Rank': rank,
                            'Location': location,
                            'No. of Total Students': num_students,
                            'Student : Faculty': student_staff,
                            'Ratio International Students': perc_international
                      
                     })
    
times_universities = pd.DataFrame.from_dict(rank_list_times)
times_universities.head()

,Aliases,Location,Name,No. of Total Students,Rank,Ratio International Students,Student : Faculty
0,University of Oxford,United Kingdom,University of Oxford,20409.0,1,0.38,11.2
1,University of Cambridge,United Kingdom,University of Cambridge,18389.0,2,0.35,10.9
2,California Institute of Technology caltech,United States,California Institute of Technology,2209.0,=3,0.27,6.5
3,Stanford University,United States,Stanford University,15845.0,=3,0.22,7.5
4,Massachusetts Institute of Technology,United States,Massachusetts Institute of Technology,11177.0,5,0.34,8.7